/* @import url(https://fonts.googleapis.com/css?family=Roboto);
 *, *:after, *:before {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
 html, body {
	 width: 100%;
	 height: 100%;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 text-rendering: optimizelegibility;
	 font-size: 62.5%;
	 font-family: 'Roboto', cursive;
}
 body {
	 background: #1d1f20;
	 display: flex;
	 justify-content: center;
	 align-items: center;
} */

.back-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.back-button-container button {
    border: none;
    outline: none;
}
 .back {
	 background: none;
	 border: none;
     outline: none;
	 position: relative;
	 height: 60px;
	 width: 60px;
     top: -12px;
}
 .top-left, .top-right, .bottom-left, .bottom-right, .stalk {
	 display: block;
	 position: absolute;
	 height: 0.2rem;
	 width: 1.2rem;
	 background: white;
	 border-radius: 0.2rem;
	 z-index: 2;
	 opacity: 1;
	 left: 50%;
}
 .top-left {
	 transform: rotate(45deg);
	 top: 2.4rem;
}
 .top-right {
	 transform: rotate(135deg);
	 top: 2.4rem;
}
 .bottom-left {
	 transform: rotate(135deg);
	 top: 3.2rem;
}
 .bottom-right {
	 transform: rotate(45deg);
	 top: 3.2rem;
}
 .top-left, .bottom-left {
	 margin-left: -1rem;
}
 .top-right, .bottom-right {
	 margin-left: -0.2rem;
}
 .stalk {
	 top: 2.8rem;
	 width: 2rem;
	 opacity: 0;
}
 .text {
	 color: white;
	 font-size: 1.1rem;
	 letter-spacing: 0.2rem;
	 font-family: 'Roboto', sans-serif;
	 position: absolute;
	 bottom: 0.1rem;
	 left: 5.9rem;
	 margin-left: -1.7rem;
	 /* opacity: 0; */
}
 .back--one .top-left, .back--one .bottom-left {
	 transition: opacity 0.3s 1s;
}
 .back--one .top-right, .back--one .bottom-right {
	 transition: margin-left 0.5s 0.5s;
}
 .back--one .stalk {
	 transition: margin-left 0.5s 0.5s, opacity 0.3s 1s;
}
 .back--one .text {
	 transition: opacity 0.3s 1s;
}
 .back--one:hover .text {
	 opacity: 1;
	 transition: opacity 0.3s 0.5s;
}
 .back--one:hover .top-left, .back--one:hover .bottom-left {
	 opacity: 0;
	 transition: opacity 0.3s 0.5s;
}
 .back--one:hover .top-right, .back--one:hover .bottom-right {
	 margin-left: -1.3rem;
	 transition: margin-left 0.5s 0.8s;
}
 .back--one:hover .stalk {
	 opacity: 1;
	 margin-left: -1.2rem;
	 transition: margin-left 0.5s 0.8s, opacity 0.3s 0.5s;
}
 .back--two .top-left, .back--two .bottom-left {
	 transition: margin-left 0.5s 0.5s;
}
 .back--two .top-right, .back--two .bottom-right {
	 transition: opacity 0.3s 1s;
}
 .back--two .stalk {
	 margin-left: -2rem;
	 transition: margin-left 0.5s 0.5s, opacity 0.3s 1s;
}
 .back--two .text {
	 transition: opacity 0.3s 1s;
}
 .back--two:hover .text {
	 opacity: 1;
	 transition: opacity 0.3s 0.5s;
}
 .back--two:hover .top-left, .back--two:hover .bottom-left {
	 margin-left: 0.1rem;
	 transition: margin-left 0.5s 0.8s;
}
 .back--two:hover .top-right, .back--two:hover .bottom-right {
	 opacity: 0;
	 transition: opacity 0.3s 0.5s;
}
 .back--two:hover .stalk {
	 opacity: 1;
	 margin-left: -1.1rem;
	 transition: margin-left 0.5s 0.8s, opacity 0.3s 0.5s;
}