.swiper-container {
    display: flex;
    justify-content: center;
    width: 90%;
}

.swiper {
    display: flex;
    height: 350px;
    width: 90%;
    justify-content: center;
    overflow: hidden;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 200px;
    height: 250px;
    border-radius: 8px;
}


.swiper-slide img {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.swiper-slide-active {
    transform: scale(1.2);
    transition: .4s;
    border-radius: 18px;
}

@media screen and (min-width: 700px) {
    .swiper-pagination {
        visibility: visible;
    }
    .swiper-button-prev {
        right: -34px;
    }
}

@media screen and (max-width: 699px) {
    .swiper-pagination {
        visibility: visible;
    }
    .swiper-button-prev, .swiper-button-next {
        visibility: hidden;
    }

}

.swiper-slide .info {
    width: 100%;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    text-align: justify;
    border-radius: 0 0 5px 5px;
}

.swiper-slide .info h4{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 2px;
    font-weight: 700;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swiper-slide .info p{
    font-size: 15px;
    margin-left: 10px;
    margin-top: -5px;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .swiper-pagination {
    bottom: 12px;
} */

.swiper-pagination-bullet {
    background: #60c90a;
    margin-left: 4px;
}
