@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

::-webkit-scrollbar{
  width: 3px;
  color: #79FE0C;
  transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
  background: #79FE0C;
  border-radius: 4px;
  width: 4px;
  transition: all .4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


html{
  overflow-x: hidden;
  user-select: none;
}

body {
  background: #171717;
}
.btn-green{
  background-color: #21c764 !important;
  color: #fff !important;
}

.topic-container h2{
  line-height: 68px;
}

.teams-container {
  position: relative;
}

.topic-container {

  padding: 10px 5px;
  width: 100%;
  font-size: 33px;
  margin: 0px 0px 23px;
}



.topic-container h2 {
  justify-content: center;
  color: #21c764;;
  font-size: 60px;
  text-align: center;
}
.team-name {
  text-align: center;
  width: 100%;
  font-size: 43px;
}




.team-name p {
  color: #21c764;
}

.container-t {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 7rem 0 0;
}
.container-t .card-t {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-t .card-t .content {
  position: absolute;
  /* bottom: -160px; */
  bottom: 0px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  /* backdrop-filter: blur(15px); */
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}
/* .container-t .card-t:hover .content {
  bottom: 0;
  transition-delay: 0s;
} */
.container-t .card-t .content .contentBx h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  /* transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px); */
}
/* .container-t .card-t:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
} */
.container-t .card-t .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container-t .card-t .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}
.container-t .card-t .content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}

/* .container-t .card-t:hover .content .sci li {
  transform: translateY(0);
  opacity: 1;
} */
.container-t .card-t .content .sci li a {
  color: white;
  font-size: 24px;
}


@media only screen and (max-width: 454px) {
  .topic-container h2{
    line-height: 63px;
  }
  .addm {
    top: 1rem;
  }
}



/*Style for circular cards */

.card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  -webkit-box-shadow:inset 0px 0px 8px 1px rgba(0,255,157,1) , 0px 0px 8px 1px rgba(0,255,157,1);
  -moz-box-shadow:inset 0px 0px 8px 1px rgba(0,255,157,1) , 0px 0px 8px 1px rgba(0,255,157,1);
  box-shadow:inset 0px 0px 8px 1px rgba(0,255,157,1) , 0px 0px 8px 1px rgba(0,255,157,1);
  background: transparent !important;
    color: #ffffff;
  border: none !important;
  font-size: 18px;
}
.card img {
  /*width:calc(100vw / 6);
   height:calc(100vw / 6);*/

   width: 200px;
  height: 200px;
  object-fit: cover;

   background:transparent;
   border-radius:51%;
   margin: 0 auto;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}
.card .card-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  /*font-size:2vw;*/
}

.card .card-text{
  font-size: 18px;
}

