body {

  background: grey;
  margin: 0;
}

h2 {
  position: relative;
  margin-top: 100px;
  font-family: sans-serif;
  text-align: center;
  color: #116511;
  font-size: 5vw;
}

svg {
  position: absolute;
  top: 50vh;
  overflow: visible;

}

.stop {
  fill: dimgrey;
  stroke-width: 0;
  visibility: hidden;
}

.end {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 700;
  visibility: hidden;
}
