.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    .about-me__container {
        display: flex;
        gap: 2em;

        @include for-phones-and-tablets-only {
            gap: 0em;
        }

        h3 {
            font-family: $ff--nova-mono;
            font-size: 1.2rem;
            color: $clr--emerald-green-light;
        }

        .about-me__container--presentation {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: flex-start;

            .presentation--hobbies {
                ul {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $clr--light-blue;
                    }
                }
            }

            .presentation--resume {
                .btn-resume {
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    width: 10rem;
                    height: 3em;
                    border: none;
                    border-radius: 1rem;
                    background-color: $clr--emerald-green;
                    padding: 0.5rem 1rem;
                    color: $clr--very-dark-blue;
                    cursor: pointer;

                    text-transform: uppercase;

                    &:hover {
                        background-color: $clr--emerald-green-light;
                        transform: scale(1);
                        animation: pulse 2s infinite;
                    }

                    @keyframes pulse {
                        0% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
                        }

                        70% {
                            transform: scale(1);
                            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
                        }

                        100% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                        }
                    }
                }
            }
        }

        .about-me__container--image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                border-radius: 1em;
                width: 340px;
                height: auto;

                &.img-desktop {
                    display: block;

                    @include for-phones-and-tablets-only {
                        display: none;
                    }
                }

                &.img-mobile {
                    display: none;

                    @include for-phones-and-tablets-only {
                        display: block;
                    }
                }

                @include for-phones-and-tablets-only {
                    width: 100%;
                }
            }

            @include for-phones-and-tablets-only {
                margin-bottom: 2em;
            }
        }
    }

    @include for-phones-and-tablets-only {
        .about-me__container {
            flex-direction: column-reverse;
        }

        .about-me__container--presentation {
            width: 100% !important;

            text-align: justify;
        }

        .about-me__container--image {
            width: 100% !important;
        }
    }
}
