// COLORS
$clr--very-dark-blue: #09192F;
$clr--dark-imperial-blue: #05386B;
$clr--light-blue: #A5B1D6;
$clr--very-light-blue: #C6D4ff;
$clr--emerald-green: #379683;
$clr--emerald-green-soft: #5CDB95;
$clr--emerald-green-light: #8EE4AF;
$clr--beige-white: #EDF5E1;
